.modal-overlay {
    background-color: rgba(0, 0, 0, 0.560);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    opacity: 0;
    visibility: hidden;
}

/* -->Modal Avtived<-- */

.modal-overlay.active {
    opacity: 1;
    visibility: visible;
}

.modal {
    background-color: white;
    width: 660px;
    height: 400px;
    margin: 25vh auto;
    position: relative;
    border-radius: 30px;
    padding: 30px;
    text-align: center;
}

.modal-content {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
}

.modal-image {
    position: relative;
}

.modal-image img {
    width: 600px;
    height: 200px;
    border-radius: 20px;
}

.close-modal {
    display: grid;
    grid-template-columns: 1fr;
    position:absolute;
    bottom: 25px;
    right: 0;
    left: 0;

}
.close-modal p {
    cursor: pointer;
    color: #777777;
    font-size: 16px;
}


