@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {padding: 0; margin: 0; border: 0;}


body {
    font-family: 'Roboto', sans-serif;
}


.header .btn-edit a,
.title-form button,
.title a  {
    background: #6558C3;
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 36px;
    border-radius: 4px;
}