{% extends "recipes/layout.njk" %}

{% block head %}
    <link rel="stylesheet" href="/css/admin/create.css">
{% endblock %}

{% block content %}
    <form action="/admin/recipes/create" method="POST">
        {% include "recipes/fields.njk" %}
    </form>
    
{% endblock %}