{% extends "recipes/layout.njk" %}

{% block head %}
    <link rel="stylesheet" href="/css/admin/create.css">
{% endblock %}


{% block content %}

    <form action="/admin/recipes?_method=DELETE" method="post">
        <input type="hidden" name="id" value="{{item.id}}">
        <button type="submit" id="delete">Deletar</button>
    </form>
    
    <form action="/admin/recipes?_method=PUT" method="post">
        {% include "recipes/fields.njk" %}
        <input type="hidden" name="id" value="{{item.id}}">
    </form>
{% endblock %}