{% extends "recipes/layout.njk" %}

{% block content %}
    <div class="title">
        <h2>Gerenciar receitas</h2>
        <a href="recipes/create">Criar receita</a>
    </div>

    <div class="cards">
        {% for recipe in recipes %}

            <div class="card">
                <div class="image-card">
                    <img src="{{recipe.image_url}}" alt="">
                </div>

                <div class="info-card">
                    <div class="title-card">
                        <p>{{recipe.title}}</p>
                    </div>

                    <div class="author-card">
                        <p>{{recipe.author}}</p>
                    </div>

                    <div class="view-card">
                        <a href="recipes/{{recipe.id}}">Visualizar</a>
                    </div>
                </div>
            </div>

        {%endfor%}
    </div>
{% endblock %}