{% extends "layout.njk" %}

{% block head %}
    <title>Foddfy - {{item.title}}</title>
    <link rel="stylesheet" href="/css/description.css">
{% endblock %}

{%block content %}

    <div class="recipe">
        <div class="image_container">
            <img src="{{item.image}}" alt="{{item.title}}">
        </div>

        <div class="titles">
            <h1>{{item.title}}</h1>
            <p>{{item.author}}</p>
        </div>

        <div class="cards_recipe">
            <div class="card_recipe">

                <div class="title_recipe">
                    <h3>Ingredientes</h3>
                    <a class="buttom"><button type="button" onclick="mudarEstado('list_text')" class="btn" id="list_text">Mostrar</button></a>
                </div>

                <div>
                    <ul class="list_text">
                        {% for ingredient in item.ingredients %}
                            <li>{{ingredient}}</li>
                        {% endfor %}
                    </ul>
                </div>

            </div>
            
            <div class="card_recipe">
                <div class="title_recipe">
                    <h3>Modo de preparo</h3>
                    <a class="buttom"><button type="button" onclick="mudarEstado('list_p')" class="btn" id="list_p">Ocultar</button></a>
                </div>
                <div class="list_p">
                    <ul>
                        {% for fase in item.preparation %}
                            <li>{{fase}}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <div class="card_recipe">
                <div class="title_recipe">
                    <h3>Informações adicionais</h3>
                    <a class="buttom"><button type="button" onclick="mudarEstado('list_info')" class="btn" id="list_info">Ocultar</button></a>
                </div>

                <div class="list_info">
                    <p>{{item.information}}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}