{% extends "layout.njk" %}

{% block head %}
    <title>Foddfy</title>
{% endblock %}

{% block content %}
    <div class="banner">
        <div class="intro">
            <h1>As melhores receitas</h1>
            <p>Aprenda a contruir  os melhores pratos com receitas criadas por profisionais do mundo inteiro.</p>
        </div>

        <div class="chef_image">
            <img src="/assets/119236-OQ05QX-268.png" alt="Cozinheiro">
        </div>
    </div>

    <div class="title_cards">
        <h2>Mais acessadas</h2>
    </div>

    <section class="cards">
        <div class="card" id="hamburguer">
            <div class="card_image-container">
                <img src="/assets/hamburguer.png" alt="hamburger">
            </div>

            <div class="card_title" id="Triplo bacon burger">
                <h4>Triplo bacon burger</h4>
            </div>

            <div class="card_author">
                <p>Por Jorge Relato</p>
            </div>
        </div>

        <div class="card" id="lasagna">
            <div class="card_image-container">
                <img src="/assets/lasagna.png" alt="lasagna">
            </div>

            <div class="card_title" id="Lasanha mac c' cheese">
                <h4>Lasanha mac c' cheese</h4>
            </div>

            <div class="card_author">
                <p>Por Juliano Vieira</p>
            </div>
        </div>

        <div class="card" id="chicken">
            <div class="card_image-container">
                <img src="/assets/chicken.png" alt="chicken">
            </div>

            <div class="card_title" id="Asinhas de frango ao barbecue">
                <h4>Asinhas de frango ao barbecue</h4>
            </div>

            <div class="card_author">
                <p>Por Vania Steroski</p>
            </div>
        </div>

        <div class="card" id="pizza">
            <div class="card_image-container">
                <img src="/assets/pizza.png" alt="pizza">
            </div>

            <div class="card_title" id="Pizza Mussarela">
                <h4>Pizza Mussarela</h4>
            </div>

            <div class="card_author">
                <p>Por Isaac Aguiar</p>
            </div>
        </div>

        <div class="card" id="tacos">
            <div class="card_image-container">
                <img src="/assets/tacos.png" alt="tacos">
            </div>

            <div class="card_title" id="Tacos Mexicanos">
                <h4>Tacos Mexicanos</h4>
            </div>

            <div class="card_author">
                <p>Por Antônio Moraléz</p>
            </div>
        </div>

        <div class="card" id="sandwich">
            <div class="card_image-container">
                <img src="/assets/sandwich.png" alt="sandwich">
            </div>

            <div class="card_title">
                <h4>Sanduíche natural</h4>
            </div>

            <div class="card_author">
                <p>Por Liss Pomorov</p>
            </div>
        </div>
    </section>
 {% endblock %}

 {% block modal %} 
    <div class="modal-overlay"> 
        <div class="modal">
            <div class="modal-content">
                <div class="modal-image">
                    <img src="" alt="">
                </div>

                <div class="modal-title">
                    <h4>comida</h4>
                </div>

                <div class="modal-author">
                    <p>autor</p>
                </div>
            </div>

            <div class="close-modal">
                <a><p>Fechar modal</p></a>
            </div>
        </div>
    </div>
{% endblock %}